{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "warn",
    "quotes": "off",
    "func-names": "off",
    "import/no-named-default": 0
  },
  "env": {
    "browser": true
  }
}
